<div class= "main">
<table class="sign" align = "center">
    <tr>
        <td align="center">Please enter new password</td>
    </tr>
    <tr>
        <td><input class = "ques" type="password" [(ngModel)] = "password" placeholder="enter password" /></td>
    </tr>
    <tr>        
        <td><button (click) = "Next1()" class="submit" >Reset</button></td>
    </tr>
</table>
</div>

<!-- <div class= "main">
    <form class="sign" align = "center">
        
        <label align="center">Please enter new password</label><br/><br/>
        <input class = "ques" type="password" [(ngModel)] = "password1" placeholder="enter password" />
        <input class = "ques" type="password" [(ngModel)] = "password2" placeholder="confirm password" />
        <button (click) = "Next1()" class="submit" >Reset</button>
        
    </form>
</div> -->